@import url('global.css');

html, body, header {
    background-color: var(--kanagawa-dark-purple);
    color: var(--kanagawa-cream);
    font-family: ibm-plex-mono-medium;
}

nav.navbar {
    background-color: var(--kanagawa-cream);
}

header {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    position: fixed;
    margin-bottom:2rem;
}

nav {
    display: flex;
    gap: 20px; 
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--kanagawa-wave-blue);
    padding: 10px 15px;
}