@import url('global.css');

html, body, header {
    background-color: var(--kanagawa-dark-purple);
    color: var(--kanagawa-cream);
    font-family: ibm-plex-mono-medium;
}

nav.navbar {
    background-color: var(--kanagawa-cream);
}