@import url('global.css');

nav {
    font-size: 24pt;
    background-color: var(--kanagawa-cream);
    max-width: 50%;
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.nav-link {
    color: var(--kanagawa-wave-blue);
    transition: color 0.3s ease;
    margin-right: 3rem;
    margin-left: 3rem;
}

.nav-link:hover {
    color: var(--kanagawa-wave-light-blue)
}